#contact-me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0px 96px;
    gap: 64px;
    margin-top: -5%;
  }
  
  #contact-me {
    text-align: left;
    color: #101828;
  }
  
  #contact-me-text {
    color: #475467;
    text-align: left;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 7px;
    color: #344054;
    width: 720px;
    height: 474px;
  }
  
  .inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0;
    gap: 4px;
  
    width: 720px;
    height: 394px;
  }
  
  #name-row {
    gap: 4px;
    display: flex;
    flex-direction: row;
    text-align: left;
    gap: 22px;
  }
  
  #first_name,
  #last_name {
    width: 348px;
  }
  
  label {
    height: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
  }
  
  input {
    width: 720px;
    height: 44px;
    border: 1px solid #d0d5dd;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
  }
  
  input::placeholder {
    width: 692px;
    height: 108px;
    color: #667085;
    margin-left: 10px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-left: 10px;
  }
  
  textarea::placeholder {
    width: 692px;
    height: 108px;
    margin-left: 10px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  
  #checkbox-area {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    gap: 10px;
  }
  
  #checkbox {
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: 1px solid #d0d5dd;
    border-radius: 6px;
  }
  
  textarea {
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 12px 14px;
    gap: 8px;
    resize: none;
    width: 720px;
    height: 132px;
    background: #ffffff;
    border: 1px solid #d0d5dd;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
  }
  
  textarea:required:focus {
    box-shadow: 0px 1px 2px rgba(227, 228, 232, 0.05), 0px 0px 0px 4px #9e2121;
    border-radius: 8px;
  }
  
  #btn__submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    gap: 8px;
    color: white;
    width: 100%;
    height: 48px;
    background: #1570ef;
    /* Primary/600 */
  
    border: 1px solid #1570ef;
    /* Shadow/xs */
  
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
  }

  .warning{
    color: red;
  }
  
  /* Mobile responsiveness */
  @media only screen and (max-width: 600px) {
    #contact-me-container {
      margin-top: -15%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px 16px;
      gap: 48px;
      width: 375px;
      height: 884px;
      overflow-x: hidden;
      z-index: 4;
    }
    #contact-header {
      padding: 15px 0;
    }
  
    #contact-me {
      font-weight: 600;
      font-size: 36px;
      line-height: 44px;
      padding: 0 16px;
    }
    #contact-me-text {
      width: 343px;
      height: 56px;
      padding: 0 16px;
    }
    form {
      padding: 0 16px;
    }
    input {
      width: 343px;
    }
    textarea {
      width: 320px !important;
      overflow: hidden;
    }
    #name-row {
      gap: 4px;
      display: flex;
      flex-direction: column;
      text-align: left;
      /* gap: 22px; */
    }
    #first-name-container,
    #second-name-container {
      margin: 8px 0;
    }
    #first_name,
    #last_name {
      width: 343px;
      display: flex;
      padding: 2px 0;
      flex-direction: column;
    }
    #checkbox-area {
      width: 311px;
      height: 48px;
      text-align: left;
    }
  
    #btn__submit {
      width: 343px;
    }
  }