*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#_main{
    width: 100%;
    border: 1px solid red;
    min-height: 100%;   
    padding: 120px 20px; 
}
.main_container{
    max-width: 900px;
    height: 100vh;
    margin: auto;
    /* border: 1px solid gray; */
}
.fields{
    display: flex;
    font-family: "Inter", sans-serif;
}
.fields > div{
    
    width: 100%;
    margin: 10px;
}
.fields > div input{
    width: 100%;
    height: 50px;
    padding-left: 10px;
    font-family: "Inter", sans-serif;
    margin-top: 10px;
    border-radius: 8px;
    outline: none;
    border: 1px solid #d0d5dd;
}
.contact_title{
    padding: 10px;
}
.email_area{
    padding: 10px;
}
.email_area input{
    font-family: "Inter", sans-serif;
    margin-top: 10px;
    width: 100%;
    padding-left: 10px;
    height: 50px;
    border-radius: 8px;
    outline: none;
    border: 1px solid #d0d5dd;
}
.message_area{
    margin-top: 10px;
}
.message_area > div textarea{
    margin-top: 10px;
    width: 100%;
    height: 130px;
    border-radius: 8px;
    outline: none;
    border: 1px solid #d0d5dd;
}

.terms{
display: flex;
border: 1px solid red;
margin-top: 10px;

}
.terms > div{
    width: 100%;
    margin: 10px;

}
.terms > div input{
   
    height: 20px;
    padding-left: 10px;
    font-family: "Inter", sans-serif;
    margin-top: 10px;
    border-radius: 8px;
    outline: none;
    border: 1px solid red;
    float: right;
}
.terms > div label{

    height: 50px;
    padding-left: 10px;
    font-family: "Inter", sans-serif;
    margin-top: 10px;
    border-radius: 8px;
    outline: none;
    border: 1px solid red;

}


.submit_btn > button{
    width: 100%;
    height: 50px;
    background-color: blue;
    color: white;
    margin-top: 10px;
}

@media screen and (max-width: 700px){
    #_main{
        padding: 70px 20px; 
    }
    .fields{
        display: block;
    }
    .fields > div{
        margin: 10px 0px;
    }
    .email_area{
        padding: 0px;
    }
}